<%= form_with(model: product, url: products_path, local: true, multipart: true) do |form| %>
  <div class="bg-white p-6 rounded-md shadow-md">
    <div class="mb-4">
      <%= form.label :product_name, class: 'block text-sm font-medium text-gray-700' %>
      <%= form.text_field :product_name, class: 'mt-1 p-2 w-full rounded-md border border-gray-300 focus:outline-none focus:ring focus:border-blue-300' %>
    </div>

    <div class="mb-4">
      <%= form.label :image, class: 'block text-sm font-medium text-gray-700' %>
      <%= form.file_field :image, class: 'mt-1 p-2 w-full rounded-md border border-gray-300 focus:outline-none focus:ring focus:border-blue-300' %>
    </div>

    <div class="mb-4">
      <%= form.label :product_desc, class: 'block text-sm font-medium text-gray-700' %>
      <%= form.text_area :product_desc, class: 'mt-1 p-2 w-full rounded-md border border-gray-300 focus:outline-none focus:ring focus:border-blue-300' %>
    </div>

    <div class="mb-4">
      <%= form.label :amount, class: 'block text-sm font-medium text-gray-700' %>
      <%= form.number_field :amount, class: 'mt-1 p-2 w-full rounded-md border border-gray-300 focus:outline-none focus:ring focus:border-blue-300' %>
    </div>

    <div class="mb-4">
      <%= form.label :qty, class: 'block text-sm font-medium text-gray-700' %>
      <%= form.number_field :qty, class: 'mt-1 p-2 w-full rounded-md border border-gray-300 focus:outline-none focus:ring focus:border-blue-300' %>
    </div>

    <div class="mb-4">
      <%= form.submit 'Create Product', class: 'w-full bg-blue-500 text-white p-2 rounded-md hover:bg-blue-600 focus:outline-none focus:ring focus:border-blue-300' %>
    </div>
  </div>
<% end %>
