
<%= form_with(model: product, url: products_path, local: true) do |form| %>
  <div>
    <%= form.label :product_name %>
    <%= form.text_field :product_name %>
  </div>
  
  <div>
    <%= form.label :image %>
    <%= form.file_field :image %>
  </div>
  
  <div>
    <%= form.label :product_desc %>
    <%= form.text_area :product_desc %>
  </div>

  <div>
    <%= form.label :amount %>
    <%= form.number_field :amount %>
  </div>

  <div>
    <%= form.label :qty %>
    <%= form.number_field :qty %>
  </div>
  

  <div>
    <%= form.submit 'Create Product' %>
  </div>
<% end %>
